server:
  disable: true
#  http_listen_port: 9080
#  grpc_listen_port: 0

positions:
  filename: /var/log/loki/positions.yaml

client:
  url: http://syslog.{{ domainname }}:3100/loki/api/v1/push

scrape_configs:
- job_name: nginx
  static_configs:
  - labels:
    job: nginx
    host: {{ inventory_hostname }}
    __path__: /var/log/nginx/*.log
  pipeline_stages:
  - match:
      selector: '{job="nginx"}'
      stages:
      - regex:
          # logline example: 127.0.0.1 - - [21/Apr/2020:13:59:45 +0000] "GET /?foo=bar HTTP/1.1" 200 612 "http://example.com/lekkebot.html" "curl/7.58.0"
          expression: '^(?P<host>[\w\.]+) - (?P<user>[^ ]*) \[(?P<timestamp>.*)\] "(?P<method>[^ ]*) (?P<request_url>[^ ]*) (?P<request_http_protocol>[^ ]*)" (?P<status>[\d]+) (?P<bytes_out>[\d]+) "(?P<http_referer>[^"]*)" "(?P<user_agent>[^"]*)"?'
      - labels:
          host:
          method:
          request_url:
          status:
          user_agent:
- job_name: apache
  pipeline_stages:
  static_configs:
  - labels:
    job: apache
    host: {{ inventory_hostname }}
    __path__: /var/log/apache2/*.log
